div{
	background: grey;
	border: 1px solid black;
	height:50px; 
	width:50px;
	margin: 5px;
	padding: 25px;

}

#inicio{
	display: block;
}

.uno{
	display: inline-block;
	margin: 10px;
}

.dos{
	display: inline-block;
}

.contenedor{
	display:block;
	width: 380px;
	height: 120px;
	padding: 5px;
}

#final{
	display: block;
}